#calculator{
    background-color: rgb(56, 49, 49) ;
   width:   260px;
    height: 400px;
   align-items: center;
   margin: 0 auto;
   margin-top: 100px;
   padding-left: 10px;
   padding: 10px;
   
  
 
  
   
   border-radius: 10%;
   border: 2px solid ;
  
  
  
  
   
}
body{
    background-color:black;
}
#numbers{
    background-color: rgb(128, 177, 128);
    padding-top: 19px;
    padding-right: 15px;
    text-align: right;
    padding-bottom: 15px;
    border-radius: 10px  ;
   font-size: x-large;
   margin-bottom: 8px;
   border: 2% solid;
   margin-top: 20px;
   
}

.c{
    width: 95px;
    background-color: red;
}
button{
   
   border-radius: 8px ;
   background-color: rgb(41, 38, 38);
   color: white;
   margin: 0 auto;
  margin-right: 12px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 9px;
  padding-top: 9px;
  padding-right: 10px;
  padding-left: 10px;
 

   

   
  

}
.b{
    height: 50px;
    
}

   
 

.a{
    background-color: rgb(75, 75, 253);
}

  


   
   


 
 
  

